* {
    font-family: 'BebasNeue', 'Arial', 'Helvetica', sans-serif;
    font-weight: bold;
}

@font-face {
    font-family: 'BebasNeue';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/BebasNeue/BebasNeueThin.otf') format('opentype');
}

@font-face {
    font-family: 'BebasNeue';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/BebasNeue/BebasNeueLight.otf') format('opentype');
}

@font-face {
    font-family: 'BebasNeue';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/BebasNeue/BebasNeueBook.otf') format('opentype');
}

@font-face {
    font-family: 'BebasNeue';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/BebasNeue/BebasNeueRegular.otf') format('opentype');
}

@font-face {
    font-family: 'BebasNeue';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/BebasNeue/BebasNeueBold.otf') format('opentype');
}

.menu {
    font-family: 'BebasNeue';
    min-width  : 400px;
    max-width  : 380px;
    color      : #fff;
    left       : 40;
    top        : 80;
    position   : absolute;
}

.menu.align-left {
    left: 40;
    top: 50%;
    transform: translate(0, -50%);
}

.menu.align-top-left {
    left: 40;
    top: 40;
}

.menu.align-top {
    left: 50%;
    top: 40;
    transform: translate(-50%, 0);
}

.menu.align-top-right {
    left: 40;
    top: 40;
}

.menu.align-right {
    right: 40;
    top: 50%;
    transform: translate(0, -50%);
}

.menu.align-bottom-right {
    left: 40;
    top: 40;
}

.menu.align-bottom {
    left: 50%;
    bottom: 40;
    transform: translate(-50%, 0);
}

.menu.align-bottom-left {
    left: 40;
    top: 40;
}

.menu.align-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/** menu_default */
.menu.menu_default .head {
    font-family     : 'BebasNeue';
    text-transform  : uppercase;
    font-size       : 2.4em;
    background-color: black;
    text-align      : center;
    height          : 90px;
    line-height     : 105px;
    color           : white;
    font-style      : oblique;
}

.menu.menu_default .head_menu_default {
    font-family     : 'BebasNeue';
    font-size       : 59px;
    text-align      : center;
    height          : 90px;
    line-height     : 105px;
    color : white;
    font-style: oblique;
}

.menu.menu_default .category {
    font-family     : 'BebasNeue';
    height          : 50px;
    line-height     : 50px;
    padding         : 20px;
    color           : red ;
    background-color: rgba(0, 0, 0, 1);
    text-transform  : uppercase;
    font-size       : 1.75em;
    font-weight     : bold;
    padding         : 0 15px;
    position        : left;
    text-align      : left;
    top             : 0px;
}

.menu.menu_default .menu-items {
    overflow-y : hidden;
    background-color: rgba(0, 0, 0, 0.7);
}

.menu.menu_default .menu-items .menu-item {
    display         : block;
    font-size       : 1.5em;
    height          : 40px;
    line-height     : 40px;
    color           : white;
    text-align      : left;
    padding         : 0 15px;
    display         : flex;
    justify-content : space-between;
    min-width       : 300px;
}

.menu.menu_default .menu-items .menu-item.selected {
    background-color: red;
    color :black;
    font-weight: bold;
}

.menu.menu_default .menu-items .menu-item.disabled {
    color: gray;
}

.menu.menu_default .menu-items .menu-item.disabled strong {
    color: white;
}